
#sketch{
    position:fixed;
    z-index: -1;
    margin: 0em;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}



/* main landing page (without scroll) */

.main {
    margin: 0 4em 3em 4em;
}
.name {

    font-size: 6em;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
    font-family: DM Serif Display;
    line-height: .9em;
}

.job {
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    line-height: .9em;

}

.description {
    display: inherit;
    margin: 0 auto;
    padding-top: 1em;
}


/* button */
.button {
    border: 2px solid black;
    border-radius: 5px;
    transition-duration: 0.4s;
    background-color: white;
    padding: 1em 2em;
    margin: 2em;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

.button:hover {
    background-color: #FFCF62;
    box-shadow: -10px 10px black;
}

.buttons {
    padding: 4em 4em 12em 4em;
    display: flex;
    justify-content: center;
}


/* Details about my resume */

.about {
    padding-top: 7em;
    display: flexbox;
    align-items: center;
    justify-content: center;
}

.education {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-column-gap: 2em;
    align-content: center;
    padding: 2em 0;
    margin: auto;
    max-width: 30em;
}

h2 {
    font-size: 1.5em;
    text-width: 20em;
}

.bold {
    font-size: 1.2em;
    font-weight: 600;
}

.details {
    font-size: 1em;
}

p {
    max-width: 30em;
    margin: auto;
}

h1 {
    text-align: center;
}



/* text links styling */

a {
    text-decoration: none;
    color: black;
}

.textlinks {
    background-color: #DEF8F3;
    font-weight: 600;
    color: black;
    padding: 0 5px;
    transition-duration: 0.4s;
}

.textlinks:hover {
    background-color: #F8D7D4;
    font-style: italic;
    padding: 0 8px;
    text-decoration: underline;
}

.experience {
    background-color: #DEF8F3;
    font-weight: 600;
    color: black;
    transition-duration: 0.4s;
}

.experience:hover {
    background-color: #F8D7D4;
    font-style: italic;
    padding-right: 10px;
    text-decoration: underline;
}


/* responsive stuff */

@media only screen and (max-width: 900px) {
    body {
        font-size: 14px;
    }

    a {
        margin-bottom: 10px;
    }

    .button {
        margin: .5em;
    }

    .education {
        display: block;
        align-content: center;
    }
}



@media only screen and (max-width: 650px) {

    .name {
        padding-top: 50px;

    }

    .button {
        padding: 1em 1.4em;
    }
}


@media only screen and (max-width: 590px) {

    .buttons {
        justify-content: flex-start;
        padding: 3em 0em 10em 0;
    }

    .name {
        justify-content: flex-start;
    }

    .button {
        padding: 1em;
        margin-right: 1em;
        margin-left: 0em;
    }

    .job {
        justify-content: flex-start;
        text-align: left;

    }

    .description {
        justify-content: flex-start;
        text-align: left;
        margin: 0;
    }
}